.header{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: black;
    width: 100%;
}
.menu{
    display: flex;
    width: 984px;
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
    color: grey;
}
.r_menu{
    flex: 1;
    text-align: right;
}
.mainicon{
    flex: 1;
    margin-left:auto;
    margin-right: auto;
}
.l_menu{
    flex: 1;
    text-align: left;
}
.contents{
    width: 100%;
    padding-bottom: 80px;
}
.bar{
    margin-left:auto;
    margin-right: auto;
    background-color: #D1D3D4;
    width: 986px;
    height: 1px;
}
.container{
    display: flex;
    width: 1000px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.v_container{
    flex: 1;
    margin: 8px;
}
.footer{
    padding-top: 82px;
    margin-top: 100px;
    height: 80px; 
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: grey;
    background: #D1D3D4;
}
img{
    width: 100%;
}
